body {
  background-image: url(https://previews.123rf.com/images/karandaev/karandaev1602/karandaev160200312/52148289-mesa-de-la-cocina-de-%C3%A9poca-en-blanco-con-receta-de-cocina-de-libros-utensilios-e-ingredientes-vista-.jpg) ;
  background-position: center;
   background-size: cover;
   font-size: 16px;
   font-family: 'Macondo', cursive;
}

h1{
  text-decoration: underline;
  color: white;
  padding: 3rem;
}

nav{
  display: flex;
 flex-direction: row;
  background-color: black;
 
}

nav a{ padding: 14px 17px;
  color: whitesmoke;

}
nav a :hover{
  background-color: white;
}

.row{ border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
aside{
  flex: 50%;
  background-image: url(https://thumbs.dreamstime.com/b/fondo-de-textura-papel-hoja-libro-en-blanco-libros-escuela-201119669.jpg);
}

aside h2{
  font-size: 1fr;
  font-family: 'Macondo', cursive;
  text-decoration: underline;
text-align: center;
margin: 16px;
}

aside p{
  font-family: 'Macondo', cursive;
  font-size: 17px;
}
section{ width: 50%;
  padding-top: 2rem;
  flex: 50%;
  
}
.carousel-item{
  padding: 10px;
}

}
footer{ background-color: black; 
  flex-direction: grow;
    display: flex;
      width: 100%;
      height: 100px; 
      position: bottom fixed;    
  }
footer p{color: white;
  font-size: 20px;
  margin: 10px;
  padding: 1rem;
}
footer span{
  font-size: 30px;
}

  .footer-items{ 
    justify-content: space-around;
    display: flex
    padding: 50px;
    margin: 1rem;
  }
  footer img{ 
    min-height: 50px;
    max-height: 50px;
  }
}