body {
  background-image: url(https://previews.123rf.com/images/karandaev/karandaev1602/karandaev160200312/52148289-mesa-de-la-cocina-de-%C3%A9poca-en-blanco-con-receta-de-cocina-de-libros-utensilios-e-ingredientes-vista-.jpg) ;
  background-position: center;
   background-size: cover;
   font-size: 16px;
   font-family: 'Macondo', cursive;
}

h1{text-align: center;
  font-size: 75px;
  text-decoration: underline;
  color: white;
  padding: 3rem;
}

nav{ 
  display: flex;
 flex-direction: row;
  background-color: black;
}
nav  {
  color: whitesmoke;
}
nav a{ padding: 14px 17px;
  color: whitesmoke;

}
nav a :hover{
  background-color: white;
}

.row{ border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
aside{
  flex: 50%;
  background-image: url(https://thumbs.dreamstime.com/b/fondo-de-textura-papel-hoja-libro-en-blanco-libros-escuela-201119669.jpg);
}
section{
  flex: 50%;
}

aside h2{
  font-size: 1fr;
  font-family: 'Macondo', cursive;
  text-decoration: underline;
 text-align: center;
 margin: 16px;
}

aside p{
  font-family: 'Macondo', cursive;
  font-size: 17px;
}
section{ width: 50%;
  padding-top: 0rem;
  flex: 50%;
  
}
.carousel-item{
  padding: 10px;
}

footer { margin: 0 ;
  padding: 50px;
 
}

footer span{
  font-size: 30px;
  color: white;

}

  .footer-items{ 
    justify-content: space-around;
    display: flex
    padding: 50px;
    margin: 1rem;
  }
  footer img{ 
    min-height: 50px;
    max-height: 50px;
  }
}