.body { background-image: linear-gradient(to left,#7E7876,#994123);
        margin: 0 150px ;}

.title{ color: #AFA4A1;
        justify-content: center;
        padding: 50px;
        text-align: center;
        font-size: 50px;
        text-decoration: underline;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: hidden;
}

.navbar a {
  float: left;
  padding: 17px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 10%         ; 
  text-align: center; 
}

.navbar a:hover {
  background-color: #000;
}


.navbar a.active {
  background-color: #04AA6D;
}
.navbar a {
    float: none;
    display: inline;
    width: 100%;
    text-align: left; 
  }
.cont{
  display: inline;
  float: left;
}
.cont h3 {
   font-size: 30px;
   color: #AFA4A1;
   text-decoration: underline;
   text-align: center;
}
.cont p { 
  text-align: cetnter;
  font-size: 20px;
  color: black;
}

.ingredientes{padding-right: 110px;
  padding-bottom: 40px;
  height: 500px 1fr;
  float:right;
  font-size:20px;
  text-align:justify colum;

}

.text3{ color: #AFA4A1;
  float: center ;
  font-size: 30px;
  text-align:center;
  text-decoration: underline;
}

.instructions{
  padding-left: 60px;
  float: center;
  width: 100% 1fr;
  height: 500px; 
  
}
.instructions iframe {padding: 20px;
  float: left;
  height: 400px;
  width: 400px;
  
}

.footer{overflow: hidden;
  justify-content: center;
  box-sizing: 1;
  padding-top: 10px;
  margin-top:50px;
  position: relative;
  height: 150px;
  width: 100%;
}
.footer a {padding: 50px;
  text-decoration: none;
 font-size: 30px;}
